<div class="app-spam-form">
  <form [formGroup]="form" class="form">
    <div class="form-group">
      <ion-textarea
        fill="outline"
        formControlName="message"
        required
        label-placement="floating"
        label="{{ 'ml.message_label' | translate }}"
        [autoGrow]="true"
        rows="18"></ion-textarea>
    </div>
    <div class="form-group">
      <ion-button
        class="app-spam-form__button"
        fill="outline"
        (click)="onSubmit()"
        [disabled]="!isFilled() || formDisabled">
        {{ 'ml.spam_check_button' | translate }}
      </ion-button>
    </div>
  </form>
</div>
